<!-- <!DOCTYPE html>
<html>
    <body> -->
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i>&nbsp;&nbsp;Annoucement</h3>
            </div>
            <div class="panel-body ">
                <div id="chatroom" class="row row-offcanvas row-offcanvas-left">
                    <div id="announcePage" class="column col-sm-10 col-xs-10 ">
                        <div class="panel panel-default top" id="announcements" style="height: 400px;"></div>
                        <form id="announceBox" class="bs-component">
                            <div class="input-group">
                                <input name="announceMessage" id="m" autofocus autocomplete="off" placeholder="Type here.." class="form-control" />
                                
                                <span class="input-group-btn">
                                    <button id="sendAnnoucement" type="submit" class="btn-primary  btn chatButton">Announce</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="/css/announcement.css">
        <script type="text/javascript" src="/js/JSannouncement.js"></script>