<!-- <!DOCTYPE html>
<html>
  <head> -->
  <h1>Welcome  <%= user %> !</h1>
<p class="lead">Through our emergency website Mayday, you will be able to share your status, connect with <br> people through chat and view their status.</p>
<%if (u_status != 0) { %>
<h4>You have selected the highlighted status below. You can choose to change it by clicking on other status.</h4>
<% }else{ %>
<h4 id="msg">You can choose to share the status below</h4>
<% } %>
<h4 id="share" style="display:none;">Thanks for sharing your status!</h4>

<div class="row">
  <div class="col-lg-4">
    <div class="status alert alert-dismissible alert-success <%if (u_status != 1 && u_status !=0) { %>unselectedStatus<% } %>" href="#" role="button" data-status="1">
      <i class="fa fa-check-circle fa-2x fa-fw" ></i><strong> OK </strong>
      <p> I am okay,  <br> I don't really need help at the moment. </p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="status alert alert-dismissible alert-warning <%if (u_status != 2 && u_status !=0) { %>unselectedStatus<% } %>" href="#" role="button" data-status="2" >
      <i class="fa fa-hand-paper-o fa-2x fa-fw" ></i><strong> HELP </strong>
      <p>I need help, <br> but it's not a life threatening emergency.</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="status alert alert-dismissible alert-danger <%if (u_status != 3 && u_status !=0) { %>unselectedStatus<% } %>" href="#" role="button" data-status="3">
      <i class="fa fa-ambulance fa-2x fa-fw" ></i><strong> EMERGENCY </strong>
      <p>I need help now, <br> as this is a life threatening emergency! </p>
    </div>
  </div>
  
</div>

<script type="text/javascript">
function checkLocation(){
        var hasPos = false;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                  
                  var pos = {"lat":position.coords.latitude+"", "long":position.coords.longitude+""};
                  updateLocation(pos);
            }, function() {
              $(".error-message").show();
              $('#error').html("Please enable location access to MayDay! It is important to serve you better!");

            });
        } else {
            // Browser doesn't support Geolocation
              var pos = {"lat":"37.4105","long":"-122.0598"};  
              updateLocation(pos);

        }
        
      }
function updateLocation(pos){
  var uid = localStorage.getItem('mayday_userId');
  $.ajax({
   url: "/users/updateUser/"+uid,
   type: 'PUT',
   data: {lat:pos.lat,long:pos.long ,time_id: new Date().toString("yyyy-MM-dd HH:mm:ss")},

});
}
checkLocation();
console.log("here");
$('.status').click(function() {
$("#msg").hide();

var status = parseInt($( this ).attr("data-status"));
var uid = localStorage.getItem('mayday_userId');



$.ajax({
   url: "/users/updateUser/"+uid,
   type: 'PUT',
   data: {status:status,time_id: new Date().toString("yyyy-MM-dd HH:mm:ss")},
   success: function(data) {
if(data.success)
{
$("#share").show();
$('.status').addClass("unselectedStatus") ;
$(".status[data-status='"+data.user.status+"']" ).removeClass("unselectedStatus");
}else{

$("#share").show();
$('#share').html("Error updating status!");
}
}
}).fail(function(err) {
$("#share").show();
$('#share').html(err.responseJSON.error);
});
checkLocation();
});

</script>
<link rel="stylesheet" href="/css/intro.css">